8기_최준혁_0908과제

과제 1

In [1]:
birth = input("생년월일을 입력하시오 : ")
if len(birth) == 6: birth = '19'+birth
print('연: '+birth[0:4])
print('월: '+birth[4:6])
print('일: '+birth[6:8])

생년월일을 입력하시오 : 890724
연: 1989
월: 07
일: 24

과제 2

In [2]:
phone = input('휴대전화번호를 입력하시오 : ')
number = ''
for i in phone:
    if i.isnumeric() : number += i
print('입력하신 전화번호 : '+number)

휴대전화번호를 입력하시오 : 010-1234-5678
입력하신 전화번호 : 01012345678

과제 3

In [3]:
dict_num = {'one':'하나','two':'둘','three':'셋','four':'넷', 'five':'다섯',\
           'six':'여섯','seven':'일곱','eight':'여덟','nine':'아홉','ten':'열'}
eng = input('1~10까지 영어로 입력하시오: ').lower()
if eng in dict_num.keys(): print('한글번역: '+dict_num[eng])
else : print('잘못된 입력 값입니다')

1~10까지 영어로 입력하시오: One
한글번역: 하나

과제 4

In [4]:
r = int(input('반지름을 입력하시오: '))
print('원의 넓이 : {}'.format(r**2*3.14))

반지름을 입력하시오: 1
원의 넓이 : 3.14

과제 5

In [5]:
price = int(input('상품가격을 입력하시오: '))
pay = int(input('지불할 금액을 입력하시오: '))
change = pay - price
D = {500:0, 100:0, 50:0, 10:0}
for won in D.keys():
    D[won] = change//won
    change = change % won
print('잔돈 {}원 : '.format(pay-price),end='')
for i in D:
    print('{}원{}개 '.format(i,D[i]),end='')

상품가격을 입력하시오: 1000
지불할 금액을 입력하시오: 1760
잔돈 760원 : 500원1개 100원2개 50원1개 10원1개

과제 6

In [6]:
num =int(input('홀짝 판별할 정수를 입력하시오: '))
if num%2==0 : print('{}은 짝수입니다'.format(num))
else : print('{}은 홀수입니다'.format(num))

홀짝 판별할 정수를 입력하시오: -3
-3은 홀수입니다

과제 7

In [7]:
for i in range(5):
    for j in range(5): 
        if j<=i : print('*',end='')
    print()

*
**
***
****
*****

과제 8

In [8]:
L = [1,24,3,44,1000,2,0,74]
max = None
for i in range(len(L)):
    if i == 0 : max = L[i]
    if L[i] > max : max = L[i]
print('최댓값은 : {}'.format(max))

최댓값은 : 1000

과제 9

In [9]:
def means(*args):    #입력 개수에 상관없이 사용하기 위해, 함수 입력 값 자리에 *args를 사용
    return sum(args)/len(args)
print(means(1, 5, 6, 7, 222))

48.2

과제 10

In [10]:
import numpy as np

arr = np.random.randn(10)
arr = arr.reshape(5,2)
print('random matrix') ; print(arr, "\n") 
print('전체합: {}, 전체평균: {}'.format(arr.sum(), arr.mean()), "\n")
row_sum = arr.sum(axis=1) ; row_mean = arr.mean(axis=1)
col_sum = arr.sum(axis=0) ; col_mean = arr.mean(axis=0)
for i in range(len(row_sum)):
    print("{}행| 합: {}, 평균: {}".format(i+1, row_sum[i], row_mean[i]))
print()
for j in range(len(col_sum)):
    print("{}열| 합: {}, 평균: {}".format(j+1, col_sum[j], col_mean[j]))

random matrix
[[-0.9747184   1.23465112]
 [ 0.26573621 -1.56751269]
 [ 1.5476355   0.47316159]
 [-1.51115242 -0.11574554]
 [-1.06443703  0.752339  ]]

전체합: -0.9600426604763759, 전체평균: -0.0960042660476376

1행| 합: 0.2599327217467753, 평균: 0.12996636087338764
2행| 합: -1.3017764799087526, 평균: -0.6508882399543763
3행| 합: 2.020797087451684, 평균: 1.010398543725842
4행| 합: -1.6268979615667496, 평균: -0.8134489807833748
5행| 합: -0.3120980281993331, 평균: -0.15604901409966654

1열| 합: -1.736936140818424, 평균: -0.34738722816368484
2열| 합: 0.776893480342048, 평균: 0.1553786960684096

과제 11

In [11]:
import pandas as pd

print('11-(1)\n')
grade = {'국어':70,"영어":30,"수학":80,"과학":90}
grade = pd.Series(grade, name="성적표")
print('합격') ; print(grade[grade >= 50])
print('불합격') ; print(grade[grade < 50])

print('\n11-(2)\n')
if grade.mean() >= 70 : print('전체합격')
else : print('전체불합격')

11-(1)

합격
국어    70
수학    80
과학    90
Name: 성적표, dtype: int64
불합격
영어    30
Name: 성적표, dtype: int64

11-(2)

전체불합격

과제 12

In [12]:
import pandas as pd

lst = [['웬디', 15, '커뮤', 'AI', '회장'], ['아이린', 16, '경영', '심리', '교육팀장'],
       ['슬기', 17, '경영', '빅사', '교육팀원'], ['예리', 19, '경영', '빅사', '교육팀원'],
       ['조이', 16, '경제', '빅사', '교육팀원']]

df = pd.DataFrame(lst, columns=['이름', '학번', '전공', '복수전공', '역할'])
df = df.set_index('이름')

df.loc['아이린':'조이',['학번','역할']]

     학번    역할
이름
아이린  16  교육팀장
슬기   17  교육팀원
예리   19  교육팀원
조이   16  교육팀원

과제 13

In [13]:
df

     학번  전공 복수전공    역할
이름
웬디   15  커뮤   AI    회장
아이린  16  경영   심리  교육팀장
슬기   17  경영   빅사  교육팀원
예리   19  경영   빅사  교육팀원
조이   16  경제   빅사  교육팀원

In [14]:
df_new3 = df.copy()
df_new3.loc['정찬빈'] = [19, '경영', '빅사', '인싸담당']
df_new3.loc['최준혁'] = [18, '경제', '빅사', '아싸담당']
df_new3['과제제출여부'] = 'yes'

df_new3

     학번  전공 복수전공    역할 과제제출여부
이름
웬디   15  커뮤   AI    회장    yes
아이린  16  경영   심리  교육팀장    yes
슬기   17  경영   빅사  교육팀원    yes
예리   19  경영   빅사  교육팀원    yes
조이   16  경제   빅사  교육팀원    yes
정찬빈  19  경영   빅사  인싸담당    yes
최준혁  18  경제   빅사  아싸담당    yes